{% extends 'base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover" xmlns="http://www.w3.org/1999/html">
        <thead class="thead-light">
        <tr>
            <th >Product</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Price</th>
        </tr>
        </thead>
        {% for order in orders %}
            <tr>
                <td>
                    <img src="{{ order.img_url }} "/>
                    <br> {{ order.title }} <br>
                    <br><b>Price: </b>{{ order.price }} USD / {% if uah %}{{ order.price|multiply:uah }} UAH {% endif %}
                    <br><b>Rating: </b>{{ order.rating }}<br>
                    <br><b>Description: </b>{{ order.description }}<br>
                </td>
                <td>
                    <form action="{% url 'product:add-to-cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ order.product_id }}">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type="number" title="Quantity" min="1" class="form-control"
                               name="quantity" value="{{ order.quantity }}">
                        <button type="submit" class="btn-success">Update</button>
                    </form>
                </td>
                <td>
                    {{ order.cost }} USD / {% if uah %}{{ order.price|multiply:uah }} UAH {% endif %}
                </td>
                <td>
                    {{ order.price }} USD /{% if uah %}{{ order.price|multiply:uah }} UAH {% endif %}
                    <form action="{% url 'product:delete-from-cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ order.product_id }}">
                        <button type="submit" class="btn-danger">-</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>TOTAL:</th>
            <td></td>
            <th>{{ total }} USD / {% if uah %}{{ total|multiply:uah }} UAH {% endif %}</th>
            <td></td>
        </tr>
    </table> <br/>
    <h3>Checkout:</h3>
    <div class="col-xs-4">
        <table class="table table-hover">
            <form action="{% url 'product:cart' %}" method="POST">
                {% csrf_token %}
                {{ orderForm.as_table }}
                <th><td><button type="submit" class="btn-success">Checkout</button></td></th>
            </form>
        </table>
    </div>
{% endblock %}