{% extends 'base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover" xmlns="http://www.w3.org/1999/html">
        <thead class="thead-light">
        <tr>
            <th >Product</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Price</th>
        </tr>
        </thead>
        {% for order in orders %}
            <tr>
                <td>
                    {{ order.title }}
                </td>
                <td>
                    <form action="{% url 'product:add-to-cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="p_id" value="{{ order.product_id }}">
                        <input type="number" title="Quantity" min="1" class="form-control"
                               name="quantity" value="{{ order.quantity }}">
                        <button type="submit" class="btn-success">Update</button>
                    </form>
                </td>
                <td>
                    {{ order.cost }}
                </td>
                <td>
                    {{ order.price }}
                    <form action="{% url 'product:delete-from-cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="p_id" value="{{ order.product_id }}">
                        <button type="submit" class="btn-danger">-</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>TOTAL:</th>
            <td></td>
            <th>{{ total }}</th>
            <td></td>
        </tr>
    </table>
{% endblock %}