{% extends 'base.html' %}
{% block extra_head_tags %}
    <meta name="keywords" content="{% for category in categories %} {{ category }},{% endfor %}"/>
{% endblock %}
{% block title %}Main Products{% endblock %}

{% block content %}
    <table class="table">
        {% for product in products %}
            <tr>
                <td>
                    <img src="{{ product.img_url }} "/>
                    <br>{{ product.title }}
                    <br><b>Price: </b>{{ product.price }}
                    <br><b>Rating: </b>{{ product.rating }}<br>
                </td>
            </tr>
        {% empty %}
            No products!
        {% endfor %}
    </table>
{% endblock %}