{% extends 'base.html' %}
{% block extra_head_tags %}
    <meta name="keywords" {% if product.meta_kw %} content="{{ product.meta_kw }}"
    {% else %}
          content="Buy {{ product.title }}"
    {% endif %}/>
{% endblock %}
{% block title %}{{ product.title }}{% endblock %}


{% block content %}
    {{ product.title }}

    <form action="{% url 'product:cart' %}" method="POST">
        {% csrf_token %}
        <div class="col-xs-2">
            {{ form }}
            <button type="submit" class="btn-success">Add to cart!</button>
        </div>
    </form>
{% endblock %}