{% extends 'base.html' %}

{% block extra_head_tags %}
    <meta name="keywords" {% if subcategory.meta_kw %} content="{{ subcategory.meta_kw }}"
    {% else %}
          content="Buy {{ subcategory.title }}"
    {% endif %}/>
{% endblock %}
{% block title %}{{ subcategory }}{% endblock %}


{% block content %}
    {{ subcategory }} <br>

    {% for product in subcategory.product_set.all %}
        <a href="{% url 'product:product-details' product.id %}">{{ product.title }}</a> <br>
    {% endfor %}

{% endblock %}