{% extends 'base.html' %}

{% block extra_head_tags %}
    <meta name="keywords" {% if subcategory.meta_kw %} content="{{ subcategory.meta_kw }}"
    {% else %}
          content="Buy {{ subcategory.title }}"
    {% endif %}/>
{% endblock %}
{% block title %}{{ subcategory }}{% endblock %}


{% block content %}
    <h1>{{ subcategory }}</h1> <br>
    <table class="table">
        {% for product in subcategory.product_set.all %}
            <tr>
                <td>
                    <img src="{{ product.img_url }} "/>
                    <br><a href="{% url 'product:product-details' product.id %}">{{ product.title }}</a> <br>
                    <br><b>Price: </b>{{ product.price }}
                    <br><b>Rating: </b>{{ product.rating }}<br>
                    <br><b>Description: </b>{{ product.description }}<br>
                    <form action="{% url 'product:add-to-cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type="number" title="Quantity" min="1"
                               class="col-xs-1" name="quantity" required="True">
                        <button type="submit" class="btn-success">Add to cart</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            No products!
        {% endfor %}
    </table>
{% endblock %}